@import '~bootstrap/scss/bootstrap';

$link-color: #385898;

.form-wrapper {
  margin: 0 auto;
  width: 50%;
}

.postActions {
  font-size: .75em;
  font-weight: bold;

    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
}

.post-wrapper {
  display: flex;
  justify-content: center;
  margin-top: ($spacer) * 3;
}
